<div class="alert text-white bg-bahama-blue alert-dismissible py-2 text-center rounded-0 mb-0 d-none d-sm-block">
    <button type="button" class="close py-2" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p class="mb-0">Pertaining to COVID-19 situation, this years conference will happen virtually. Join us to
        explore the new possibilities of information and communication technology.</p>
</div>

<div class="text-white text-center font-weight-medium">
    <div class="bg-bahama-blue font-size-2 py-2 px-5 d-inline-block shadow"
        style="border-bottom-left-radius: 2.5rem; border-bottom-right-radius: 2.5rem; width: 11.5em;">
        <div class="row justify-content-between mx-0 mt-n2 align-items-center">
            <div class="col-3 px-0">
                <span id="days"></span>
                <p class="mb-0 font-size-1 mt-n3"><small><small>Days</small></small></p>
            </div>:
            <div class="col-3 px-0">
                <span id="hours"></span>
                <p class="mb-0 font-size-1 mt-n3"><small><small>Hours</small></small></p>
            </div>:
            <div class="col-3 px-0">
                <span id="minutes"></span>
                <p class="mb-0 font-size-1 mt-n3"><small><small>Minutes</small></small></p>
            </div>
        </div>
    </div>
</div>

<div class="alert text-white bg-bahama-blue alert-dismissible shadow-lg fixed-bottom rounded-0 mb-0 py-4 d-sm-none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p class="mb-0">Pertaining to COVID-19 situation, this years conference will happen virtually. Join us to
        explore the new possibilities of information and communication technology.</p>
</div>