<footer class="container-fluid bg-bahama-blue py-5 text-white">
    <div class="container-md expand my-5">
        <div class="row justify-content-between">
            <div class="col-sm-5 col-md-4 text-center text-sm-left">
                <i data-feather="globe"></i>
                <h5 class="mt-3">Stay informed to our updates by subscribing to our notifications.</h5>
                <form>
                    <div class="form-group">
                        <label for="email-footer" class="d-none">Email</label>
                        <input type="email" class="form-control dark text-center text-sm-left" id="email-footer"
                            name="email" placeholder="example@example.com" required>
                    </div>
                    <button type="submit" class="btn btn-outline-white mt-4 font-weight-bold bg-bahama-blue">
                        Subscribe
                        <span class="spinner-border spinner-border-sm align-middle ml-1 d-none" role="status"
                            aria-hidden="true"></span>
                    </button>
                    <p class="mt-1 invisible px-1">Status</p>
                </form>
            </div>
            <div class="col-sm-auto align-self-center text-center text-sm-right text-xl-left mt-5 mt-sm-0">
                <h5 class="text-uppercase">Important Links</h5>
                <ul class="list-unstyled mt-3 mb-5">
                    <li class="my-2"><a href="/public/brochures/CICT2020_Programme_Schedule.pdf"
                            class="text-white ltr-white">Programmes Schedule</a></li>
                    <li class="my-2"><a href="" class="text-white ltr-white">Best Paper Award</a></li>
                    <li class="my-2"><a href="/authors#ppt-templates" class="text-white ltr-white">PPT Template</a></li>
                    <li class="my-2"><a href="/public/brochures/CICT 2020 _Paper_presentation_schedule.pdf"
                            class="text-white ltr-white">Registered Papers</a></li>
                    <li class="my-2"><a href="" class="text-white ltr-white">Abstract Book</a></li>
                    <li class="my-2"><a href="" class="text-white ltr-white">Technical Sessions</a></li>
                </ul>
                <h5 class="text-uppercase mt-5 mt-sm-0">Social Media</h5>
                <div class="mt-3 text-center text-sm-right text-lg-left social">
                    <a href="https://www.instagram.com/cict_2020_iiitdm/" class="text-white"><i data-feather="instagram"
                            class="mx-4 ml-sm-0"></i></a>
                    <a href="https://twitter.com/cict2020?lang=en" class="text-white"><i data-feather="twitter"
                            class="mx-4 mr-sm-0"></i></a>
                </div>
            </div>
            <div class="col-12 col-xl-auto text-center text-sm-left text-xl-right mt-5 mt-xl-0">
                <address>
                    <h5 class="text-uppercase mb-3">IIITDM Kancheepuram</h5>
                    <span class="d-block my-2">Vandalur-Kelambakkam Road,</span>
                    <span class="d-block my-2">Chennai - 600127</span>
                    <div class="my-2">
                        <a class="ltr-white text-white" href="tel:+91-44-2747 6300">
                            <i data-feather="phone" width="1em" height="1em"></i> +91-44-2747 6300
                        </a>
                    </div>
                    <div class="my-2">
                        <a class="ltr-white text-white" href="mailto:cict2020@iiitdm.ac.in">
                            <i data-feather="mail" width="1rem" height="1em"></i> cict2020@iiitdm.ac.in
                        </a>
                    </div>
                </address>
            </div>
        </div>
    </div>
    <div class="container-md expand text-center text-sm-left mt-5 pt-sm-5">
        <p class="mb-0">&copy; Copyright 2020, IIITDM Kancheepuram</p>
    </div>
</footer>

<%- include('scripts') %>

</body>

</html>