<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 py-5 mb-5">
    <% gc.forEach(person => { %>
    <div class="col mb-5 pb-5">
        <%- include('person-card.ejs', {person: person}) %>
    </div>
    <% }) %>
</div>