<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#006894">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#006894">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta
        name="ieee cict, cict , ieee, cict-2020, cict2020, conference, cict conference, iiit, iiit kancheepuram, kancheepuram, chennai, research, special session, phd symposium, indian institute of information technology"
        content="IEEE CICT">
    <meta name="description"
        content="The Conference on Information and Communication Technology (CICT) is the annual flagship conference jointly organized by the five MHRD-funded IIITs.">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preload" href="/stylesheets/theme.css" as="style" onload="this.rel = 'stylesheet'">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <% if(route !== 'undefined' && route === 'index') { %>
    <link rel="preload" as="style" href="/stylesheets/index.css" onload="this.rel = 'stylesheet'">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <% } %>
    <link rel="preload" as="style" href="/stylesheets/animations.css" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="/stylesheets/animations.css">
    <script defer src="https://unpkg.com/feather-icons" onload="feather.replace()"></script>
    <title>CICT 2020 | IIITDM Kancheepuram</title>