<div class="py-5 mb-5">
    <h1 class="text-bahama-blue font-size-2 font-weight-bold text-uppercase mb-5">Local Organising Committee Chair</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <% for(let i = 0; i < 4; i++) { %>
        <div class="col mb-5">
            <%- include('person-card.ejs') %>
        </div>
        <% } %>
    </div>
</div>

<div class="mt-5">
    <h1 class="text-bahama-blue font-size-2 font-weight-bold text-uppercase mb-5">Social Media Committee</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <% for(let i = 0; i < 4; i++) { %>
        <div class="col mb-5">
            <%- include('person-card.ejs') %>
        </div>
        <% } %>
    </div>
</div>

<div class="mt-5">
    <h1 class="text-bahama-blue font-size-2 font-weight-bold text-uppercase mb-5">Social Media Committee</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <% for(let i = 0; i < 4; i++) { %>
        <div class="col mb-5">
            <%- include('person-card.ejs') %>
        </div>
        <% } %>
    </div>
</div>