<aside
    class="fixed-top text-white font-size-1 left-0 top-0 bottom-0 bg-bahama-blue border-right border-light w-75 w-md-50 w-lg-33 w-xl-25 py-5 my-0"
    style="z-index: 1; transform: translateX(-100%);">
    <div class="text-right mb-5 mr-5">
        <i data-feather="x-circle" width="2.5rem" height="2.5rem" role="button" id="close"
            onclick="this.parentElement.parentElement.classList.remove('open-menu'); this.parentElement.parentElement.classList.add('close-menu')"></i>
    </div>
    <ul class="list-unstyled">
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3 my-3" href="/">
            <li>Home</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3 my-3" href="#">
            <li>About</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3 my-3" href="/committees">
            <li>Committees</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3 my-3" href="/authors">
            <li>For Authors</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3 my-3" href="#">
            <li>Programmes</li>
        </a>
    </ul>
</aside>