<aside
    class="fixed-top text-white text-left font-size-1 left-0 top-0 bottom-0 bg-bahama-blue hide-menu w-75 w-md-50 w-lg-33 w-xl-25 pb-50"
    style="z-index: 2; overflow-y: auto">
    <div class="text-right py-5 pr-5 sticky-top bg-bahama-blue">
        <i data-feather="x-circle" width="2.5rem" height="2.5rem" role="button" id="close" style="z-index: 2;"
            aria-label="close menu"></i>
    </div>
    <div class="list-unstyled">
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" href="/">
            <li>Home</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" href="/about">
            <li>About</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" href="/committees">
            <li>Committees</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" id="auth-btn" href="/authors">
            <li>For Authors</li>
        </a>
        <div class="list-unstyled d-none" id="authors">
            <a href="/authors" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Call for Papers</li>
            </a>
            <a href="/authors#ppt-templates" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Presentation templates</li>
            </a>
            <a href="/brochures/camera-ready-submission.pdf" target="_blank"
                class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Camera ready submission guidelines</li>
            </a>
            <a href="/brochures/ppt-guidelines.pdf" target="_blank"
                class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Preparing and uploading your Presentation Video</li>
            </a>
            <a href="/authors#guidelines" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Submission Guidelines</li>
            </a>
            <a href="/authors#phdTrack" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Special Track for PhD Scholars</li>
            </a>
            <a href="/authors#awards" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Call for PhD Theses Awards</li>
            </a>
            <a href="/authors#dates" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Important Dates</li>
            </a>
        </div>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" href="/register">
            <li>Registration</li>
        </a>
        <a class="menu-item text-white font-weight-medium d-block px-4 py-3" id="prog-btn" href="#">
            <li>Programme</li>
        </a>
        <div class="list-unstyled d-none" id="programs">
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Overview</li>
            </a>
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Keynote Talks</li>
            </a>
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Special Sessions</li>
            </a>
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Tutorials</li>
            </a>
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>WiE Forum</li>
            </a>
            <a href="" class="menu-item text-white font-weight-medium d-block px-4 py-3">
                <li>Industry Forum</li>
            </a>
        </div>
    </div>
</aside>