<nav class="navbar expand container bg-transparent px-0 pt-4 pt-sm-5 mt-sm-4 text-right">
    <div class="navbar-brand ml-auto ml-sm-0 mr-sm-auto">
        <i data-feather="menu" width="1.75em" height="1.75em"></i>
        <span class="font-weight-medium font-size-1 d-none d-sm-inline ml-1">Menu</span>
    </div>
    <% if(typeof route !== 'undefined' && route === 'index') { %>
    <a class="btn btn-outline-bahama-blue text-uppercase font-weight-bold font-size-1 d-none d-sm-inline"
        href="#callForPapers">Call for papers</a>
    <% } %>
</nav>