<% patrons.forEach(patron => { %>
<div class="row row-reverse justify-content-between align-items-center mb-5 py-5">
    <div class="col-md-7 col-lg-8 order-1 order-md-0">
        <header>
            <h1 class="text-bahama-blue font-size-2 font-weight-bold">Prof. <%= patron.name %></h1>
            <h2 class="text-bahama-blue font-size-2 font-weight-regular">Director, <%= patron.institute %></h2>
        </header>
        <main>
            <p class="mt-5"><%= patron.description %></p>
        </main>
        <footer class="my-5">
            <a href="" class="lead text-bahama-blue underline-bahama-blue d-inline font-weight-medium">Know More</a>
            <i data-feather="arrow-right" class="ml-2 text-bahama-blue"></i>
        </footer>
    </div>
    <div class="col-md-4 col-lg-3 text-center order-0 order-md-1 mb-3 pb-5 mb-md-0 pb-md-0">
        <img src="<%= patron.image %>" class="img-fluid px-3 px-md-0" alt="Dr. Banshidhar Majhi">
    </div>
</div>
<% }); %>