<nav class="navbar navbar-expand-lg navbar-light bg-bahama-blue underline-white fixed-top text-white shadow d-none font-size-2 px-sm-5 py-3"
    style="z-index: 1;">
    <div>
        <a href="/">
            <img src="images/logo.png" class="img-fluid w-25 d-sm-none" alt="logo" loading="lazy">
        </a>
    </div>
    <span>
        <i data-feather="menu" width="1.25em" height="1.25em" class="d-none d-sm-block" role="button"></i>
    </span>
    <div class="d-none d-sm-block mx-auto text-center">
        <a href="/">
            <img src="images/logo.png" class="img-fluid w-33" alt="logo" loading="lazy">
        </a>
    </div>
    <a href="/register" class="btn btn-outline-white font-weight-bold font-size-1 d-none d-sm-block">REGISTER</a>
    <div role="button" class="ml-auto d-sm-none">
        <i data-feather="menu" width="1em" height="1em"></i>
    </div>
</nav>