<nav class="navbar navbar-expand-lg navbar-light bg-bahama-blue underline-white fixed-top text-white shadow d-none font-size-2 px-sm-5 py-3"
    style="z-index: 1;">
    <div>
        <img src="images/logo.png" class="img-fluid w-25 d-sm-none" alt="logo" loading="lazy">
    </div>
    <div role="button" class="d-none d-sm-block mr-auto">
        <i data-feather="menu" width="1.25em" height="1.25em"></i>
        <img src="images/logo.png" class="img-fluid w-25" alt="logo" loading="lazy">
    </div>
    <div role="button" class="ml-auto d-sm-none">
        <i data-feather="menu" width="1em" height="1em"></i>
    </div>
</nav>