<div class="row">
    <div class="col-md-4 pr-lg-5">
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
    </div>
    <div class="col-md-4 px-lg-5">
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
    </div>
    <div class="col-md-4 pl-lg-5">
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
        <div class="border-bottom-bahama-blue mb-5 mb-md-4">
            <p class="lead w-75 w-md-100 font-weight-regular mb-2">Sensor Phenomenology, Modelling and
                Evaluation</p>
        </div>
    </div>
</div>