<%- include('partials/header') %>
</head>

<body>
    <section class="container-fluid vh-100 px-0 bg-img">
        <%- include('partials/alert.ejs') %>
        <%- include('partials/nav.ejs') %>
    </section>

<%- include('partials/footer') %>