.badge {
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: right bottom;
    transform: rotate(-90deg) translateX(50%);
    background-color: var(--dark-blue);
    color: #fff;
    z-index: 1;
}


@media (min-width: 992px) {
    .move-up {
        transform: translateY(-50%);
    }

    .pb-30 {
        padding-bottom: 30% !important;
    }
}


@media (max-width: 576px) {
    .minify-text {
        font-size: 1.5rem;
    }

    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}