@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --light-blue: #E5EFF4;
    --dark-blue: #006894;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--regular);
    font-size: 16px;
}

.bg-img {
    /* background-image: url('/images/background.svg'); */
    background-size: cover;
    background-position: center;
}

.opacity-white-20 {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.opacity-blue-30 {
    border-color: rgba(0, 104, 148, 0.3) !important;
}

a:hover {
    text-decoration: none;
}

/* positioning */
.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}


/* font-weights */
.font-weight-light {
    font-weight: var(--light) !important;
}

.font-weight-medium {
    font-weight: var(--medium) !important;
}

.font-weight-bold {
    font-weight: var(--bold) !important;
}

.font-weight-regular {
    font-weight: var(--regular) !important;
}

/* background colors */
.bg-catskill-white {
    background-color: var(--light-blue);
}

.bg-bahama-blue {
    background-color: var(--dark-blue);
}


/* font-sizes */
.font-size-1 {
    font-size: 1.25rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-3 {
    font-size: 2.5rem;
}

.font-size-4 {
    font-size: 3rem;
}


/* text colors */
.text-catskill-white {
    color: var(--light-blue)!important;
}

.text-bahama-blue {
    color: var(--dark-blue)!important;
}


/* buttons */
.btn-outline-bahama-blue {
    border: 0.125em solid var(--dark-blue);
    border-radius: 0;
    color: var(--dark-blue);
    background-color: transparent;
    padding: 0.15em 0.8em;
}

.btn-outline-bahama-blue:hover {
    border: 0.125em solid var(--dark-blue);
    border-radius: 0;
    color: #fff;
    background-color: var(--dark-blue);
    padding: 0.15em 0.8em;
}

.btn-outline-white {
    border: 0.125em solid #fff;
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    padding: 0.15em 0.8em;
}

.btn-outline-white:hover {
    border: 0.125em solid #fff;
    border-radius: 0;
    color: var(--dark-blue);
    background-color: #fff;
    padding: 0.15em 0.8em;
}


/* borders */
.border-bahama-blue {
    border: 0.125em solid var(--dark-blue);
    border-radius: 0;
}

.border-bottom-bahama-blue {
    border-bottom: 0.125em solid var(--dark-blue);
    border-radius: 0;
}

.border-y-bahama-blue {
    border-top: 1em solid var(--dark-blue);
    border-bottom: 1em solid var(--dark-blue);
}

.border-y-transparent {
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.underline-white-lg {
    border-bottom: 0.15rem solid #fff;
    padding-bottom: 0.4em;
    line-height: 5rem;
}

.underline-bahama-blue-lg {
    border-bottom: 0.15rem solid var(--dark-blue);
    padding-bottom: 0.4em;
    line-height: 5rem;
}

.underline-white {
    border-bottom: 0.15rem solid #fff;
    padding-bottom: 0.1em;
}

.underline-bahama-blue {
    border-bottom: 0.15rem solid var(--dark-blue);
    padding-bottom: 0.1em;
}

/* inputs */

input.form-control.light {
    border-radius: 0;
    border: none;
    background-color: var(--light-blue);
    border-bottom: 2px solid var(--dark-blue);
    padding-left: 0;
    color: var(--dark-blue);
}

input.form-control.light::-webkit-input-placeholder {
    color: var(--dark-blue);
    opacity: 0.4;
}

input.form-control.light::-moz-placeholder {
    color: var(--dark-blue);
    opacity: 0.4;
}

input.form-control.light:-ms-input-placeholder {
    color: var(--dark-blue);
    opacity: 0.4;
}

input.form-control.light::-ms-input-placeholder {
    color: var(--dark-blue);
    opacity: 0.4;
}

input.form-control.light::placeholder {
    color: var(--dark-blue);
    opacity: 0.4;
}

input.form-control.light:focus {
    background-color: var(--light-blue);
    box-shadow: none;
}

input.form-control.dark {
    border-radius: 0;
    border: none;
    background-color: var(--dark-blue);
    border-bottom: 2px solid #fff;
    padding-left: 0;
    color: #fff;
}

input.form-control.dark::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.4;
}

input.form-control.dark::-moz-placeholder {
    color: #fff;
    opacity: 0.4;
}

input.form-control.dark:-ms-input-placeholder {
    color: #fff;
    opacity: 0.4;
}

input.form-control.dark::-ms-input-placeholder {
    color: #fff;
    opacity: 0.4;
}

input.form-control.dark::placeholder {
    color: #fff;
    opacity: 0.4;
}

input.form-control.dark:focus {
    background-color: var(--dark-blue);
    box-shadow: none;
}

footer img.img-fluid {
    -webkit-filter: drop-shadow(2px 4px 6px black);
    filter: drop-shadow(2px 4px 6px black);
}

/* menu */
.hide-menu {
    transform: translateX(-100%);
}

.menu-item:hover {
    background-color: #fff;
    color: var(--dark-blue) !important;
}

/* widths */
.w-33 {
    width: 33%;
}

@media (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-33 {
        width: 33% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-33 {
        width: 33% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }
}

/* responsive-ness */

@media(max-width: 576px) {

    html,
    body {
        font-size: 14px !important;
    }
}

@media(min-width: 1600px) {

    html,
    body {
        font-size: 18px !important;
    }
}

@media(min-width: 1920px) {

    html,
    body {
        font-size: 19px !important;
    }
}

@media(min-width: 2560px) {

    html,
    body {
        font-size: 20px !important;
    }
}

@media(min-width: 1200px) {
    .expand {
        max-width: 82.5%;
    }
}